h1{
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight:100;
    line-height:0.5;
}
h2{
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 100; 
    line-height:normal;
}
h3{
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 100; 
    line-height:0%;
}
div{
    border-bottom: 1px solid black ; /*đường viền dưới*/
    padding-bottom:0%; 
}
li{
    margin-left: 15px;
}

/* đoạn văn 
p{
    border-bottom: 0cap solid black ; /*đường viền dưới
    padding-bottom: 10px;
}
ul{
    border-bottom: 1px solid black ; /*đường viền dưới
    padding-bottom: 20px;
}
ol{
    border-bottom: 1px solid black ; /*đường viền dưới
    padding-bottom:20px;
}
*/
